body {
  font-family: 'Lato', sans-serif;
  text-align: left;
  line-height: 1.5;
  background-color: #e0fff5;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 3rem;
}

h5 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #5a5048;

}

a:hover {
  color: #8199A3;
}

footer {
  text-align: center;
}

hr {
  color: #5a5048;
  width: 70%;
  margin: auto;
}

/* Title Section */
.big-heading {
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
  margin-top: 32%;
  margin-bottom: 7%;
  color: #5a5048;
}

.title-paragraph {
  color: #2D251F;
  font-size: 1.8rem;
  font-family: Inter, sans-serif;
}

/* alternativ färg #898a74 */
.send-article {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#title {
  text-align: left;
}

.btn {
  font-size: 18px;
  font-weight: bold;
}

#howto-btn {
  border-color: #2D251F;
  color: #2D251F;
}

#howto-btn:hover {
  background-color: #2D251F;
  color: #FFFFF0;
}


#add-btn:hover {
  background-color: #006400;
  color: #FFFFF0;
}

#video {
  padding-left: 40px;
  margin-top: 34%;
}

/* Containers */
.container-fluid {
  padding: 6% 13%;
  overflow: hidden;
  position: relative;
}

.container-footer {
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 13%;
    padding-right: 13%;
  overflow: hidden;
  position: relative;
}

.container-instructions {
  padding: 6% 13%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #e0fff5;
  color: #5a5048;
}

/* Navigation-bar */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5a5048;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item {
  padding: 0 18px;
  color: #5a5048;
}

.nav-link {
  font-size: 1.1rem;
  color: #FFFFF0;
  font-weight: normal;
}

.example {
  text-align: left;
}

.example-link {
  color: #8199A3;
}

.example-link:hover {
  color: #2D251F
}

.available {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  margin-top: 7rem;
  color: #2D251F;
  font-family: 'Lato', sans-serif;
}

/* Testimonial section */
#Testimonials {
  background-color: #e0fff5;
  font-family: 'Lato', sans-serif !important;
  color: #5a5048;
  text-align: center;
}

.card {
  background-color: #e0fff5;
  border-color: red;
}

.card-body p {
  font-weight: bold;
  color: #2D251F;
}

.card-body {
  background-color: #FFFFF0;
}

#names {
  background-color: #FFFFF0;
}


/* Owl nav */
.owl-prev span, .owl-next span {
  color: #FFFFF0;
}

.owl-prev span:hover,
.owl-next span:hover {
  color: #8199A3;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 0;
  height: 90%;
  color: #8199A3 !important;
}

.owl-prev {
  left: -15px;
  color: #FFFFF0;
}

.owl-next {
  right: -15px;
}

/* removing blue outline from buttons */
button:focus, button:active {
  outline: none;
}

/* Featured */
.featured {
  text-align: center;
}

.featured-img {
  width: 17%;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/* How-to Section */
#how-to {
  background-color: #FFFFF0;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

/* Footer */
.footer-icon {
  margin: 15px 15px;
  color: #5a5048;
}

/* Media Query */

@media screen and (max-width: 978px) {

  #title .container-fluid {
    text-align: center;
  }

  .example {
    text-align: center;
  }

  #video {
    padding-left: 0;
    margin-top: 55px;
    margin-bottom:35px;
  }

  .big-heading {
    margin-top: 15%;
  }
}
